.thumbnail {
  width: 70px;
  height: 70px;
  opacity: 0.5;
}
.active {
  opacity: 1;
}
.button {
  background-color: transparent;
  border: none;
  padding: none;
  outline: none;
  cursor: pointer;
}
